/* Link styling */

.link {
  color: #0005FB;
  font-weight: normal;
  border-bottom: none;
}

.link:hover {
  text-decoration: underline;
}

/* Dark mode link styling */

.dark .prose .link {
  color: #BFD1FF;
}

.dark .prose .link:hover {
  text-decoration: underline;
}

/* code text styling */


@font-face {
  font-family: 'Basis Grotesque';
  src: url('https://static.radar.io/fonts/basis-grotesque-regular.woff') format('woff2');
}

.code {
  font-family: Basis Grotesque;
}

/* Info / Callout styling */

.callout {
  font-size: 1rem;
  font-weight: 400;
  padding-top: .675rem;
  padding-bottom: .675rem;
  margin: 1rem 0 2rem;
  border-radius: 4px;
  border: 1px solid;
  .link {
    font-weight: bold;
  }
}

/* both of these div styles override some weird veritcal spacing */

div[data-component-part="callout-content"] {
  height: fit-content;
}

div[data-component-part="callout-icon"] {
  height: 1rem;
  width: 1rem;
}

/* === Light mode callouts === */

.callout[data-callout-type="info"] {
  color: #051723;
  background-color: #EAF1F6;
  border-color: #ACBDC8;
  .link {
    color: #051723;
  }
  svg {
    fill: #051723;
  }
}

.callout[data-callout-type="warning"] {
  color: #FFE2CC;
  background-color: #fff1e4;
  border-color: rgba(109,51,0,.25);
  .link {
    color: #662C00;
  }
  svg {
    stroke: #662C00;
  }
}


/* === Dark mode callouts === */

.dark .callout[data-callout-type="info"] {
  color: #DBE5EB;
  background-color: #2B363D;
  border-color: #8BA1B0;

  .link {
    color: #DBE5EB;
  }

  svg {
    fill: #DBE5EB;
  }
}

.dark .callout[data-callout-type="warning"] {
  color: #FFE2CC;
  background-color: #411D01;
  border-color: #E5AE83;

  .link {
    color: #FFE2CC;
  }

  .prose {
  color: #FFE2CC;
}

  svg {
    stroke: #FFE2CC;
  }
}